fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
pymupdf
spacy
chromadb
langchain
langchain-google-genai
langchain-community
langchain-groq
langchain-core
langgraph
groq
httpx
scikit-learn
google-genai
google-api-python-client
passlib[bcrypt]
python-jose[cryptography]
email-validator
