fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
pymupdf
spacy
sentence-transformers
chromadb
langchain
langchain-google-genai
langchain-community
langchain-groq
langchain-core
langgraph
groq
httpx
